<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class="container">
      <div id="some-div"></div>

      <a href="/new-item">
        <button class="btn btn-primary">Insert new todo item</button>
      </a>

      <% for (let item of items) { %>
      <div id = '<%= item.id %>' class="card">
        <div class="card-body">
          <h3><%= item.title %></h3>
          <p><%= item.description %></p>
        </div>
          <button class="btn btn-danger" onclick="deleteTodo('<%= item.id %>')">Delete</button>
      </div>
      <% } %> <%- include('partials/footer') %>
    </div>
  </body>
</html>
